body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/retina_wood_@2X.png");
    background-attachment: scroll;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    height: 75px;
    border-bottom: #dddddd 1px solid;
    top: 0;
    opacity: .85;
    z-index: 500;
}

.active {
    color: #4aaaa5;
}

a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    background: #4aaaa5;
    border: #777777 .5px solid;
    color: #000000;
    padding: 8px;
    font-size: 1.5em;
}

#name {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 0 8px;
    margin: 0 auto;
    line-height: 76px;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 28px 3px;
    display: flex;
    flex-direction: row;
    float: right;
}

#about {
    color: #777777;
    border-right: #777777 1px solid;
    padding: 0 5px;
}

#portfolio {
    color: #777777;
    border-right: #777777 1px solid;
    padding: 0 5px;
}

#contact {
    color: #777777;
    border-right: #777777;
    padding: 0 5px;
}

#header {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

#container {
    width: 930px;
    margin: 100px auto;
    background: #ffffff;
    border: #dddddd 1px solid;
    padding: 0 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    border-bottom: #dddddd 3px solid;
    padding: 0 0 8px 0;
}

#footer {
    position: sticky;
    background: #666666;
    bottom: 0;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    border-top: #4aaaa5 8px solid;
}

footer {
    margin-top: 50px;
    text-align: center;
    vertical-align: center;
}

#me {
    float: left;
    padding: 0 10px 0 0;
}

.intro {
    padding: 0 10px;
    line-height: 1.4em;
}

#board {
    margin: 20px 63px 10px 63px;
    position: relative;
    border: #777777 2px solid;
}

#fall {
    margin: 10px 63px 10px 0;
    position: relative;
    border: #777777 2px solid;
}

#laptop {
    margin: 10px 63px;
    position: relative;
    border: #777777 2px solid;
}

#office {
    margin: 10px 63px 10px 0;
    position: relative;
    border: #777777 2px solid;
}

#water {
    margin: 10px 63px 20px 63px;
    position: relative;
    border: #777777 2px solid;
}